@import "~styles/variables";

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .pageContent {
    flex: 1;
  }
}

.codeIcon {
  position: relative;
  top: 4px;
  fill: $text;
  height: $body-size + 2px;
  width: $body-size + 2px;
}
